<router-outlet></router-outlet>

<!-- <h1> {{ myName }} </h1>
<button [disabled]="isDisable" type="button" (click)="confirm()">click!</button>
<input [(ngModel)]="firstname">
<h1> {{ firstname }} </h1>

<button *ngIf="showButton" (click)="switch(false)">ON</button>
<button *ngIf="!showButton" (click)="switch(true)">OFF</button>
<br><br>
<tr *ngFor="let book of books">
  <td>{{ book.title }}</td>
  <td>{{ book.author }}</td>
</tr>

<br><br>
<input [(ngModel)]="score">
<ng-container [ngSwitch]="true">
  <br>
  <ng-container *ngSwitchCase="score >= 80 && score <= 100">A</ng-container>
  <ng-container *ngSwitchCase="score >= 70 && score <= 79">B</ng-container>
  <ng-container *ngSwitchCase="score >= 60 && score <= 69">C</ng-container>
  <ng-container *ngSwitchCase="score >= 50 && score <= 59">D</ng-container>
  <ng-container *ngSwitchCase="score < 50">F</ng-container>
</ng-container> -->

<!-- <form [fromGroup]="form">
  <label>Address:
    <input formControlName="address">
  </label> <br><br>
  <label>Tel:
    <input formControlName="tel">
  </label> <br><br>
  <label>Name:
    <input formControlName="name">
  </label> <br><br>
  <label>Zip Code:
    <input formControlName="zipcode">
  </label> <br><br>
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form> -->

<!-- <h1>{{ books[0].inStock | uppercase }}</h1> -->